*
{
	margin:0;
	padding:0;
}

.tabs ul
{
	text-align:center;
}

ul#tabnavr
{
	border-bottom:1px solid #000;
	margin-top:-5%;
	padding:4% 0 2px;
}

ul#tabnavr li,ul.tabnavrklas li
{
	display:inline;
}

.tabr,.tabrs
{
	border:1px solid #000;
	border-radius:13px 13px 0 0;
}

.tabrs,ul#tabnavr .tabr:hover
{
	background-color:#FFF;
	border-bottom:2px solid #FFF;
	box-shadow:0 -3px 5px -3px rgba(0,0,0,0.75);
	padding:1px 1%;
	position:relative;
	top:1px;
}

.tabr
{
	border-bottom:1px solid #000;
}

.tabr
{
	background-color:#72DDBE;
	padding:3px 1%;
}

button
{
	background-color:rgba(0,0,0,0);
	border:0;
}

.tabs
{
	background:linear-gradient(#0C647A, #4BAFAF);
	padding-top:75px;
}

.logo
{
	font-size:60px;
	left:5px;
	position:absolute;
	display:inline;
	padding-top: 0px;
	color:#FFF;
	text-decoration:none;
}
.logo{
	font-family: 'Kreon', serif;
	color:#FFF;
}

body
{
	color:#000;
	font-size:12pt;
}

#info
{
	background-color:#72DDBE;
	border:1px solid #000;
	border-radius:0 0 0 13px;
	border-right:0;
	box-shadow:0 -3px 5px -3px rgba(0,0,0,0.75);
	float:right;
	font-size:1em;
	margin:-4px 0 0;
	padding:2px 2%;
}

.frame, #info, button,.frame1, .frame2{
	font-family:'Ubuntu Condensed' , 'Sans-Serif';
}

.frame1, .frame2
{
	border:1px solid #FFF;
	font-size:2em;
}
.frame1
{
	margin:5px 50px 50px;
	text-align:right;
}
.frame2
{
	margin:5px 25px 0;
	text-align:left;
}
.frame
{
	display:inline;
}
iframe
{
	border: none;
	width:100%;
	height:800px
}
.drop
{
	background-color:#fff;
	border:1px #4C917E solid;
}