*
{
	margin:0;
	padding:0;
}

.head1 ul
{
	text-align:center;
}

ul#tabnavr
{
	border-bottom:1px solid #000;
	margin-top:-5%;
	padding:4% 0 2px;
}

ul#tabnavr li,ul.tabnavrklas li
{
	display:inline;
}

.tabr,.tabrs
{
	border:1px solid #000;
	border-radius:13px 13px 0 0;
}

.tabrs,ul#tabnavr .tabr:hover
{
	background-color:#FFF;
	border-bottom:2px solid #FFF;
	box-shadow:0 -3px 5px -3px rgba(0,0,0,0.75);
	padding:1px 2%;
	position:relative;
	top:1px;
}

.tabr
{
	border-bottom:1px solid #000;
}

.tabr
{
	background-color:#cfc;
	padding:3px 2%;
}

button
{
	background-color:rgba(0,0,0,0);
	border:0;
}

.head1
{
	background:linear-gradient(#0C647A, #4BAFAF);
	padding-top:60px;
}

.logo
{
	font-size:60px;
	left:5px;
	position:absolute;
	display:inline;
}
.h1{
	font-family:Kreon;	
	color:#FFF;
}
.logo a:link,.logo a:visited,.logo a:hover,.logo a:active
{
	color:#FFF;
	text-decoration:none;
}

body
{
	color:#000;
	font-size:12pt;
}

#info
{
	background-color:#cfc;
	border:1px solid #000;
	border-radius:0 0 0 13px;
	border-right:0;
	box-shadow:0 -3px 5px -3px rgba(0,0,0,0.75);
	float:right;
	font-size:1em;
	margin:-4px 0 0;
	padding:2px 2%;
}

.frame, #info, button{
	font-family:'Ubuntu Condensed' , 'Sans-Serif';
}

.frame
{
	border:1px solid #FFF;
	font-size:2em;
	margin:5px 50px 50px;
	text-align:right;
}
iframe
{
border: none;
width:100%;
height:800px
}